/* 
Preto: #000000
Azul-petróleo: #1693A5
Bege-claro: #D8D8C0
Bege-pálido: #F0F0D8
Branco: #FFFFFF 
*/

/* CABEÇALHO */

html{
    background-color: #D8D8C0;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cabecalho_logo{
    padding-left: 5%;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.h1_logo{
    display: flex;
    position: absolute;
    left: 11.5%;
    bottom: 45%;
}

.h2_logo{
    display: flex;
    position: absolute;
    left: 11.5%;
    top: 50%;
}

.cabecalho_inicio{
    z-index: 2;
    display: flex;
    position: absolute;
    left: 34%;
    bottom: 40%;
}

.a_inicio{
    font-size: 20px;
}

.a_inicio:hover{
    color: silver;
    font-size: 22px;   
}

.a_prazer:hover{

    font-size: 22px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}

.menu_item {
    position: absolute;
    left: 45%;
    bottom: 22%;
    font-size: 20px;
}

.menu_item a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu_item:hover .submenu {
    display: block;
    color: silver;
}

.submenu {
    display: none;
    position: absolute;
    background-color: black ; 
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    min-width: 200px; 
}

.submenu li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 15px;
    transition: all 0.5s ease-in-out;
}

.submenu li a:hover {
    background-color: silver;
    font-size: 17px; 
}

.cabecalho_servicos{
    display: flex;
    position: absolute;
    left: 65%;
    bottom: 40%;
}

.a_servicos{
    font-size: 20px;
}

.a_servicos:hover{
    color: silver;
    font-size: 22px;
}

.cabecalho_contato{
    display: flex;
    position: absolute;
    left: 80%;
    bottom: 40%;
}

.a_contato{
    font-size: 20px;
}

.a_contato:hover{
    color: silver;
    font-size: 22px;
}

/* QUEM SOMOS */

.h2_quemsomos{
    position: relative;
    padding-top: 2%;
    left: 44%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin-top: 20px;
}

.sobre_1{
    position: relative;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 4%;
    padding-bottom: 3%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sobre_2{
    position: relative;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 7%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 .img_sobre{
    margin-top: 6%;
}

/* FOOTER */

.rodape {
    background-color: black;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 2%;
    padding-bottom: 2.5%;
    height: 250px;
}

.h3_atendimento{
    font-weight: 100;
    padding: 1%;
    position: relative;
    left: 10%;
    color: #1693A5;
}

.atendimento_footer{
    position: relative;
    left: 11%;
    bottom: 7px;
}

.email_footer{
    position: relative;
    left: 11%;
}

.endereco_footer{
    position: relative;
    left: 11%;
    top: 7px;
}

.img_footer{
    display: flex;
    position: relative;
    left: 45%;
    bottom: 125px;
}

.h3_midia{
    position: relative;
    left: 70%;
    bottom: 245px;
    color: #1693A5;
    font-weight: 100;
}

.p_midia{
    position: relative;
    left: 70%;
    bottom: 250px;
    padding-top: 30px ;
}

.insta_footer{
    position: absolute;
    left: 70%;
    top: 201%;
}

.copyright{
    position: absolute;
    top: 214%;
    left: 20%;
}


.slider{
    z-index: 1;
    margin: 0 auto; 
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    top: 85px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width:800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:Last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color:#fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color:#fff
}
