/* 
Preto: #000000
Azul-petróleo: #1693A5
Bege-claro: #D8D8C0
Bege-pálido: #F0F0D8
Branco: #FFFFFF 
*/

/* CABEÇALHO */

html{
    background-color: #D8D8C0;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main_prazer{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cabecalho {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cabecalho_logo{
    padding-left: 5%;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.h1_logo{
    display: flex;
    position: absolute;
    left: 11.5%;
    bottom: 45%;
}

.h2_logo{
    display: flex;
    position: absolute;
    left: 11.5%;
    top: 50%;
}

.cabecalho_inicio{
    z-index: 2;
    display: flex;
    position: absolute;
    left: 34%;
    bottom: 40%;
}

.a_inicio{
    font-size: 20px;
}

.a_inicio:hover{
    color: silver;
    font-size: 22px;   
}

.a_prazer{
    position: absolute;
    left: 47%;
    bottom: 40%;
    font-size: 20px;
}

.a_prazer:hover{
    font-size: 22px;
}


.cabecalho_servicos{
    display: flex;
    position: absolute;
    left: 65%;
    bottom: 40%;
}

.a_servicos{
    font-size: 20px;
}

.a_servicos:hover{
    color: silver;
    font-size: 22px;
}

.cabecalho_contato{
    display: flex;
    position: absolute;
    left: 80%;
    bottom: 40%;
}

.a_contato{
    font-size: 20px;
}

.a_contato:hover{
    color: silver;
    font-size: 22px;
}

/* QUEM SOMOS */

.main_prazer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px; 
    font-size: 25px;
}

.container_quemsomos {
    width: 100%;
    margin-bottom: 30px;
    padding: 5%;
}

.h2_quemsomos,
.sobre_1,
.sobre_2{
    padding-left: 1%;
}

.img_sobre {
    max-width: 100%; 
    height: auto; 
}

.container_trio {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px; 
    margin-bottom: 30px;
}

.container_missao,
.container_visao,
.container_valores {
    width: 30%;
    padding: 20px;
    margin: 10px;
    text-align: center; 
}

.ul_valores{
    list-style-type: none;
}

li{
    padding: 1.5%;
}

/* CONTATO */

.main_contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10%; 
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form_contato{
    margin-right: 10%;
}

.titulo_form{
    font-size: large;
}

.espaco_form{
    margin-top: 2%;
    width: 140%;
    height: 60px;
    border: solid gray;
    border-radius: 7px;
    padding: 5%;
    font-size: large;
    background-color: #f8f8ffe3;
}

.botao_form{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 40%;
    height: 40px;
    margin-top: 5%;
    padding: 1%;
    border-radius: 20px;
    transition: ease-in 0.5s;
    background-color: #f8f8ffe3;
    border-color: gray;
}

.botao_form:hover{
    background-color: lightgrey;
    font-size: 14px;
    transition: ease-in 0.5s;
}

.container_contato{
    width: 50%;
}

.h2_contato,
.h4_contato,
.h5_email{
    color: rgba(0, 0, 0, 0.775);
}

.p_contato{
    font-size: 20px;
}

.h5_email{
    padding-bottom: 4%;
    margin-left: -102%;
}

.p_email{
    font-size: 17px;
    margin-left: -102%;
}

.a_email{
    color: rgb(77, 75, 75);
}

.a_email:hover{
    font-size: 18px;
    color: grey;
}

#id_email{
    padding-top: 2%;
}

.google_maps{
    padding-top: 5%;
    padding-bottom: 5%;
}

/* FOOTER */

.rodape {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
    position: relative;
}

.h3_atendimento, .h3_midia{
    font-weight: 100;
    color: #1693A5;
}

.atendimento_footer {
    position: absolute;
    left: 7%; 
    top: 20%; 
    text-align: left;
    font-size: 18px;
}

.p_atendimento1{
    text-align: left;
    font-size: 17px;
    padding: 1.1%;
}

.img_footer {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.h3_midia {
    position: absolute;
    right: 7%; 
    top: 20%; 
}

.p_midia {
    position: absolute;
    right: 6%;
    top: 40%; 
    margin-bottom: 10px;
    color: #fff;
}

.insta_footer {
    display: inline-block;
}

.copy-container {
    position: relative;
    bottom: 1px;
    width: 100%; 
    text-align: center;
}

.copyright{
    padding-top: 2%;
}

/* INICIO CARROSEL */

.slider{
    z-index: 1;
    margin: 0 auto; 
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    top: 110px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width:800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:Last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color:#fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color:#fff
}


/*SITES RESPONSIVEIS*/

@media screen and (min-width: 320px) and (max-width: 479px) {

/* CABEÇALHO RESPONSIVEL 1.0 */

.cabecalho_contato,
.cabecalho_servicos,
.container_quemsomos{
    padding-left: 2%;
}

.cabecalho_logo{
    padding-left: 2%;
    width: 130%;
    margin-top: 3%;
}

.h1_logo{
    display: flex;
    position: absolute;
    left: 11.5%;
    bottom: 45%;
    font-size: 65%;
}

.h2_logo{
    display: flex;
    position: absolute;
    left: 11.5%;
    top: 50%;
    font-size: 62%;
}

.cabecalho_inicio{
    display: flex;
    position: absolute;
    left: 37%;
    bottom: 30%;
}
    
.a_inicio{
    font-size: 60%;
}

.a_inicio:hover{
    color: silver;
    font-size: 13px;   
}

.a_prazer{
    position: absolute;
    left: 47%;
    bottom: 31.5%;
    font-size: 60%;
}

.a_prazer:hover{
    font-size: 13px;
}

.cabecalho_servicos{
    display: flex;
    position: absolute;
    left: 68%;
    bottom: 31.5%;
}

.a_servicos{
    font-size: 60%;
}

.a_servicos:hover{
    color: silver;
    font-size: 13px;
}

.cabecalho_contato{
    display: flex;
    position: absolute;
    left: 82%;
    bottom: 33%;
}

.a_contato{
    font-size: 60%;
}

.a_contato:hover{
    color: silver;
    font-size: 13px;
}

/* QUEM SOMOS RESPONSIVEL 1.0*/

html{
    background-color: #D8D8C0;
    overflow-x: hidden;
}

.main_prazer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px; 
    font-size: 16px;
}

.container_quemsomos {
    width: 100%;
    margin-bottom: 15px;
    padding: 5%;
}

.h2_quemsomos{
    font-size: 20px;
    text-align: center;
}

.h2_quemsomos,
.sobre_1,
.sobre_2{
    padding-left: 1%;
}

.sobre_1{
    padding-bottom: 3%;
}

.img_sobre {
    max-width: 100%; 
    height: auto; 
}

.container_trio {
    flex-direction: column;
    align-items: flex-start;
}

.container_missao,
.container_visao,
.container_valores {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
}

.h2_missao,
.h2_visao,
.h2_valores{
    text-align: center;
}


.ul_valores{
    list-style-type: circle;
    margin-left: 5%;
}

li{
    padding: 1.5%;
}

/* CONTATO RESPONSIVEL 1.0*/

.main_contato {
    padding-top: 22%; 
    font-size: 80%;
}

.form_contato{
    margin-right: 10%;
    margin-top: 10%;
}

.titulo_form{
    font-size: 120%;
    margin-left: 3%;
}

.espaco_form{
    margin-top: 2%;
    margin-left: 2%;
    width: 107%;
    height: 35px;
    font-size: 100%;
}

.botao_form{
    width: 25%;
    height: 35px;
    margin-left: 40%;
    font-size: 70%;
}

.container_contato{
    width: 90%;
}

.p_contato{
    font-size: 120%;
}

.h5_email{
    font-size: 110%;
    padding-bottom: 4%;
    margin-left: 2%;
}

.p_email{
    font-size: 105%;
    margin-left: 2%;
    margin-right: 1%;
}

.google_maps{
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 2%;
}

/* FOOTER */

.rodape {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
    position: relative;
}

.h3_atendimento, .h3_midia{
    font-weight: 100;
    color: #1693A5;
}

.atendimento_footer {
    position: absolute;
    left: 7%; 
    top: 20%; 
    text-align: left;
    font-size: 18px;
}

.p_atendimento1{
    text-align: left;
    font-size: 17px;
    padding: 1.1%;
}

.img_footer {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.h3_midia {
    position: absolute;
    right: 7%; 
    top: 20%; 
}

.p_midia {
    position: absolute;
    right: 6%;
    top: 40%; 
    margin-bottom: 10px;
    color: #fff;
}

.insta_footer {
    display: inline-block;
}

.copy-container {
    position: relative;
    bottom: 1px;
    width: 100%; 
    text-align: center;
}

.copyright{
    padding-top: 2%;
}

/* RODAPÉ RESPONSIVEL 1.0 */

.h3_atendimento, .h3_midia{
    font-weight: 100;
    color: #1693A5;
}

.atendimento_footer {
    position: absolute;
    left: 3%; 
    top: 15%; 
    text-align: left;
    font-size: 70%;
}

.p_atendimento1{
    text-align: left;
    font-size: 85%;
    padding: 1.1%;
}

.img_footer {
    display: inline-block;
    width: 15%;
    height: auto;
    vertical-align: middle;
}

.h3_midia {
    position: absolute;
    right: 4%; 
    top: 15%; 
    font-size: 70%;
}

.p_midia {
    position: absolute;
    right: 3%;
    top: 33%; 
    margin-bottom: 10px;
    color: #fff;
    font-size: 65%;
}

.insta_footer {
    display: inline-block;
}

.copy-container {
    position: relative;
    top: 20px;
    width: 100%; 
    text-align: center;
    font-size: 50%;
}

.copyright{
    padding-top: 5%;
}
}

@media screen and (min-width: 480px) and (max-width: 768px){

    /* CABEÇALHO RESPONSIVEL 2.0 */

.cabecalho_logo{
    padding-left: 2%;
    width: 130%;
}

.h1_logo{
    display: flex;
    position: absolute;
    left: 11.5%;
    bottom: 45%;
    font-size: 17px;
}

.h2_logo{
    display: flex;
    position: absolute;
    left: 11.5%;
    top: 50%;
    font-size: 16px;
}

.cabecalho_inicio{
    display: flex;
    position: absolute;
    left: 37%;
    bottom: 30%;
}
    
.a_inicio{
    font-size: 15px;
}

.a_inicio:hover{
    color: silver;
    font-size: 16px;   
}

.a_prazer{
    position: absolute;
    left: 47%;
    bottom: 31.5%;
    font-size: 15px;
}

.a_prazer:hover{
    font-size: 16px;
}

.cabecalho_servicos{
    display: flex;
    position: absolute;
    left: 68%;
    bottom: 31.5%;
}

.a_servicos{
    font-size: 15px;
}

.a_servicos:hover{
    color: silver;
    font-size: 16px;
}

.cabecalho_contato{
    display: flex;
    position: absolute;
    left: 82%;
    bottom: 33.5%;
}

.a_contato{
    font-size: 15px;
}

.a_contato:hover{
    color: silver;
    font-size: 16px;
}

/* QUEM SOMOS RESPONSIVEL 2.0*/

html{
    background-color: #D8D8C0;
    overflow-x: hidden;
}

.main_prazer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px; 
    font-size: 16px;
}

.container_quemsomos {
    width: 100%;
    margin-bottom: 15px;
    padding: 5%;
}

.h2_quemsomos{
    font-size: 20px;
    text-align: center;
}

.h2_quemsomos,
.sobre_1,
.sobre_2{
    padding-left: 1%;
}

.sobre_1{
    padding-bottom: 3%;
}

.img_sobre {
    max-width: 100%; 
    height: auto; 
}

.container_trio {
    flex-direction: column;
    align-items: flex-start;
}

.container_missao,
.container_visao,
.container_valores {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.h2_missao,
.h2_visao,
.h2_valores{
    text-align: center;
}

li{
    padding: 1.5%;
}

/* CONTATO RESPONSIVEL 2.0*/

.main_contato {
    padding-top: 15%; 
    font-size: 80%;
}

.form_contato{
    margin-right: 10%;
    margin-top: 5%;
}

.titulo_form{
    font-size: 100%;
    margin-left: 3%;
}

.espaco_form{
    margin-top: 2%;
    margin-left: 2%;
    width: 100%;
    height: 2px;
    font-size: 100%;
}

.botao_form{
    width: 25%;
    height: 35px;
    margin-left: 2%;
    font-size: 70%;
}

.container_contato{
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
}

.p_contato{
    font-size: 120%;
}

.h5_email{
    font-size: 110%;
    padding-bottom: 4%;
    margin-left: 2%;
}

.p_email{
    font-size: 105%;
    margin-left: 2%;
    margin-right: 1%;
}

.google_maps{
    margin: 2%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* RODAPÉ RESPONSIVEL 2.0 */

.h3_atendimento, .h3_midia{
    font-weight: 100;
    color: #1693A5;
}

.atendimento_footer {
    position: absolute;
    left: 3%; 
    top: 15%; 
    text-align: left;
    font-size: 13px;
}

.p_atendimento1{
    text-align: left;
    font-size: 12px;
    padding: 1.1%;
}

.img_footer {
    display: inline-block;
    width: 17%;
    height: auto;
    vertical-align: middle;
}

.h3_midia {
    position: absolute;
    right: 4%; 
    top: 15%; 
    font-size: 15px;
}

.p_midia {
    position: absolute;
    right: 3%;
    top: 33%; 
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
}

.insta_footer {
    display: inline-block;
}

.copy-container {
    position: relative;
    top: 20px;
    width: 100%; 
    text-align: center;
    font-size: 13px;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px){

/* QUEM SOMOS RESPONSIVEL 3.0 */

p,
li{
    font-size: 75%;
}

h2{
    font-size: 105%;
}

h1{
    font-size: 110%;
}

.a_inicio,
.a_prazer,
.a_servicos,
.a_contato{
    font-size: 105%;
}

h3{
    font-size: 95%;
}

.p_atendimento1{
    font-size: 75% ;
}

.p_midia{
    font-size: 85%;
    right: 5.4%;
}

.img_footer{
    width: 11%;
}

/* CONTATO RESPONSIVEL 3.0*/

.main_contato {
    padding-top: 10%; 
    font-size: 80%;
}

.form_contato{
    margin-right: 10%;
    margin-top: 3%;
}

.titulo_form{
    font-size: 120%;
    margin-left: 3%;
}

.espaco_form{
    margin-top: 2%;
    margin-left: 2%;
    width: 110%;
    height: 15px;
    font-size: 100%;
}

.botao_form{
    width: 25%;
    height: 40px;
    margin-left: 2%;
    font-size: 85%;
}

.container_contato{
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
}

h2{
    font-size: 150%;
}

h4{
    font-size: 130%;
}

.p_contato{
    font-size: 130%;
}

.h5_email{
    font-size: 150%;
    margin-left: 2%;
}

.p_email{
    font-size: 105%;
    margin-left: 2%;
    margin-right: 1%;
}

.google_maps{
    padding-bottom: 2%;
    margin: 2%;
}
}
